body {
    padding: 40px;
    background: #b10dc9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

.search-container {
    display: flex;
    justify-content: space-around;
}

#search-bar {
    width: auto;
    height: 40px;
    font-size: 20px;
}

.adventures-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 40px;
}

.adventure {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background: white;
}